#movies img, #movie img {
    width: 100%;
}

@media(min-width: 960px) { 
    #movies .col-md-3 .well {
        height: 490 px;
    } 

    #movies .col-md-3 img {
        height: 330px;
    }
}

#movies .col-md-3 a {
    margin-bottom: 50px;
}

@media(min-width: 1024px) {
    #movies .col-md-3 img {

    }
}